<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #2d2d86"
>
  <a class="navbar-brand" routerLink="/">
    <h1 class="text-white ml-4 mb-0">Events</h1>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item dropdown my-2 my-lg-0">
        <a
          class="nav-link active dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Options
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div *ngIf="!checkuser()">
            <a routerLink="/login"><li class="dropdown-item">Sign In</li></a>
          </div>
          <div *ngIf="checkuser()">
            <a routerLink="/profile/{{user_id}}"><li class="dropdown-item">Profile</li></a>
            <a routerLink="/" (click)="logout()"><li class="dropdown-item">Sign Out</li></a>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</nav>
